[submodule "thirdparty/rpclib"]
	path = thirdparty/rpclib
	url = https://github.com/rpclib/rpclib.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/picosha2"]
	path = thirdparty/picosha2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "thirdparty/leveldb"]
	path = thirdparty/leveldb
	url = https://github.com/google/leveldb.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
